html {
    margin: 0;
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-200deg, rgb(172, 238, 201), white);
}

.todotitle {
    font-size: 100px;
    font-weight: bold;
    color: azure;
}

.todohead > form > input {
    width: 250px;
    height: 35px;
    font-size: large;
    border: 0;
    border-radius: 5px;
}

.todohead > form > button {
    width: 55px;
    height: 35px;
    font-size: large;
    outline: 0;
    border: 0;
    border-radius: 5px;
}

.todomain {
    background-color: white;
    margin-top: 30px;
}

.empty {
    width: 330px;
    height: 10px;
}

.delete {
    float: right;
    border: 0;
    background-color: white;
    color: lightcoral;
    font-size: 18px;
    font-weight: bold;
}

div > ul {
    list-style: none;
    padding-left: 20px;
}
div > ul > li {
    display: flex;
    align-items: center;
}
div > ul > li > button {
    outline: none;
    border: none;
    background-color: lightgoldenrodyellow;
    height: 20px;
    font-size: large;
}

div > ul > li > input {
    transform: scale(1.5);
    margin-left: 10px;
}

.newlist {
    margin-left: 10px;
}

#newlist {
    margin-left: 8px;
    font-size: 20px;
    font-style: normal;
}
